.axis {
    font: 10px helvetica;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.item-graph {
    font-size: 13px;
}

.totalPercentage {
    color: #80c242;
    font-size: 33px;
}

.item-graph span {
    color: #80c242;
    font-size: 17px;
}

.info {
    --padding-start: 0px;
    --padding-end: 2px;
}

.percent {
    --padding-start: 0px;
    --padding-end: -12px;
    --highlight-height: 0px;
}