ion-list {
    background: transparent !important;
}

ion-item {
    --ion-item-background : transparent;
}

ion-card {
    --background: white !important;
}

ion-card.ripple-card {
    height: calc(100% - 20px);
}

ion-fab-button {
    color: white !important;
}

.secondaryFab {
    margin-bottom: 64px;
}
ion-fab-button[title] {
    position: relative;
  }
  
ion-fab-button[title]::after {
    position: absolute;
    content: attr(title);
    z-index: 1;
    right: 55px;
    bottom: 4px;
    background-color: var(--ion-color-secondary);
    padding: 9px;
    border-radius: 15px;
    color: white;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12);
}

.customStackedButtons{
    position: fixed;
    bottom: 0px;
    right: 0px;
}