.chips-wrapper {
    position: absolute;
    top: 0;
    left: 0;
}

.ripple-diagram-wrapper {
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .85);
}

.legend {
    position: absolute;
    bottom: 32px;
    left: 12px;
    width: auto;
    height: auto;
}

.legend__item {
    display: flex;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    cursor: pointer;
}

.legend__item--one {
    border-color: var(--tech-yellow) !important;
    background-color: var(--tech-yellow);
}

.legend__item--two {
    border-color: var(--tech-green) !important;
    background-color: var(--tech-green);
}

.legend__item--three {
    border-color: var(--tech-blue) !important;
    background-color: var(--tech-blue);
}