
.circularLabel{
    background: #0D8585;
    padding: 5px;
    color:white !important;
    font-weight: bold;
    border-radius: 100%;
}

.customCard .customRipple{
    z-index: 99;
}

.customCard {
    height: 300px;
}

ion-chip.ion-color-nimbldigitalasset {
    background: var(--ion-color-nimbldigitalasset) !important;
    color: white;
}

ion-chip.ion-color-nimblintegrationsystem,
ion-chip.ion-color-nimblsystemintegration {
    background: var(--ion-color-nimblintegrationsystem) !important;
    color: white;
}

ion-chip.ion-color-backbone {
    background: var(--ion-color-backbone) !important;
    color: white;
}