.total-percentage {
    color: var(--tech-green);
    font-size: 40px;
    font-weight: 700;
}

.total-percentage.total-percentage--small {
    font-size: 28px;
}

.graphic path {
    stroke-width: 0;
}

.item-graph-list {
    padding-left: 20px;
}

.item-graph, .item-native {
    --padding-start: 0;
    --padding-end: 0;
    --inner-padding-start: 0;
    --inner-padding-end: 0;
    --ion-safe-area-left: 0;
    --ion-safe-area-right: 0;
    font-size: 14px;
}

.item-graph ion-button{
    --padding-start: 4px;
    --padding-end: 4px;
    color: var(--ion-color-tech-green);
    font-size: 18px;
    margin: 0;
}

.item-graph ion-icon {
    font-size: 16px;
}

.chart-wrapper {
    min-height: 75vh;
}

@media(max-width: 575px) {
    .item-graph-list {
        padding-left: 0;
    }

    .chart-wrapper {
        min-height: 50vh;
    }    
}

@media(min-width: 576px) {
    ion-card.graph-card ion-card-header {
        display: block;
        position: relative;
        padding-left: 50%;
        margin-bottom: -2.5vw;
    }
}