.total-percentage {
    color: var(--tech-green);
    font-size: 40px;
    font-weight: 700;
}

.total-percentage.total-percentage--small {
    font-size: 28px;
}

.graphic path {
    stroke-width: 0;
}

.item-graph {
    --padding-start: 0;
    font-size: 14px;
}

.item-graph ion-button {
    color: var(--ion-color-tech-green);
    font-size: 18px;
}

.item-graph ion-icon {
    font-size: 16px;
}

@media(min-width: 768px) {
    ion-card.graph-card ion-card-header {
        display: block;
        position: relative;
        padding-left: 50%;
        margin-bottom: -2.5vw;
    }
}