.graphic path {
    stroke-width: 0;
}

.item-graph {
    --padding-start: 0;
    font-size: 13px;
}

.item-graph span {
    color: #80c242;
    font-size: 17px;
}

.totalPercentage {
    color: #80c242;
    font-size: 33px;
}