.nodeBox {
    border: 1px solid;
    padding: 0px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
}

.nodeBox::after {
    box-shadow: 0 5px 15px 2px;
    opacity: 0;
    /* hide the hover shadow */
    transition: opacity 0.3s ease-in-out;
}

#tree {
    display: block;
    width: 90%;
    height: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

#tree svg {
    width: 100%;
    height: auto;
    overflow: visible;
}